<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>New application</title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
  <%= stylesheet_link_tag "template", "layout", "osx", "jquery-ui-1.7.2.custom", "datapicker_custom" %>
  <%= javascript_include_tag :defaults, 'jquery.treeview.js', 'jquery.cookie.js', 'jquery.easyRotate.js', :cache => true %>
  <head:/>
</head>
<body>
<div class="all" id="all">

  <div id="logo">
    <%#= link_to image_tag('/images/logo.png') %>
  </div>

  <%= render :partial => "/layouts/main_menu" %>
  <%= render :partial => "/layouts/sub_menu" %>

  <% unless (messages = (message_block :flash_types => %w(back confirm error info warn notice)))=='<div id="message_block"></div>' %>
     <%= messages %>
  <% end %>

  <menu:/>
  <lbuilder_layout/>
</div>
<div id="osx-modal-content" style="display:none">
  <div id="osx-modal-title">Title</div>
  <div id="osx-modal-data"></div>
</div>
<%= javascript_include_tag 'jquery.simplemodal.js', 'osx.js', 'jquery-ui-1.7.2.custom.min' %>
</body>
</html>